<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<ActiveEnvironment>PROD</ActiveEnvironment>
	<DEV>
		
		<ContextualOpenAiModelName>gpt-4o-mini</ContextualOpenAiModelName>
		<VectorName>Data Extraction</VectorName>
		<InputFolderPath>D:\Python\ExtractingPDFData\Input</InputFolderPath>
		<OutputFolderPath>D:\Python\ExtractingPDFData\Output</OutputFolderPath>
		<LogPath>D:\Python\ExtractingPDFData\Log</LogPath>
	</DEV>
	<STAGE>
		
		<ContextualOpenAiModelName>gpt-4o-mini</ContextualOpenAiModelName>
		<VectorName>Data Extraction</VectorName>
		<InputFolderPath>D:\Python\ExtractingPDFData\Input</InputFolderPath>
		<OutputFolderPath>D:\Python\ExtractingPDFData\Output</OutputFolderPath>
		<LogPath>D:\Python\ExtractingPDFData\Log</LogPath>
	</STAGE>
	<PROD>
		
		<ContextualOpenAiModelName>gpt-4o-mini</ContextualOpenAiModelName>
		<VectorName>Data Extraction</VectorName>
		<InputFolderPath>D:\Python\ExtractingPDFData\Input</InputFolderPath>
		<OutputFolderPath>D:\Python\ExtractingPDFData\Output</OutputFolderPath>
		<LogPath>D:\Python\ExtractingPDFData\Log</LogPath>
	</PROD>
</Configuration>
